@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;

    margin: 0;
    padding:0;
    width: 100%;
    background: white;
    font-size: 14px;


}

.tophead{


    position: absolute;
    padding-left: 10%;

    z-index: 10;
    top: 0px;
    left: 0;
    right: 0px;
    bottom:0px;
    width: auto;
    height: 13%;
    align-content: center;
    background-color: aliceblue;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,1,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */

}
.body{
    position: absolute;
    top: -100%;
    left: -1px;
    right: -1px;
    bottom: -100%;
    width: auto;
    height: auto;
    background-image: url("../img/csedu.png");
    background-size: cover;
    -webkit-filter: blur(15px);
    z-index: 0;

    min-height: 100%;
    min-width: 100%;
}

#uploadpic{
    position: relative;

}
#upScroll{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    height: 100px;
    width: 100px;+
}
#profilePicture{
    border-radius: 50%;
    margin: 0 0 30px 0;
    height: 200px;
    width: 200px;
    margin-left: 26%;

}
form {

    position: absolute;
    align-self: center;
    width: 40%;
    margin-left: 22%;
    margin-top: 14%;
    margin-right: 14% ;

    left: 10%;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    z-index: 10;
    align-content: center;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}