/* Add Zoom Animation */
.myanimate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.myLabel{

    padding-top: 20px;
    padding-left: 10px;
    color: #1d3c41;
    font-weight: 500;
    font-size: large;
    font-family: 'Exo', 'Raleway', sans-serif;
}

.myEmail{
    margin-left: 10%;
}

.modal{
    margin-left: 25%;
    margin-top: 10%;
}