.profile_picture{
    position: relative;
    height: 50%;
    width: 50%;
}


.paddingDown{
    margin-bottom: 10px;
}

.paddingLeft{
    margin-left: 10%;
}

.social_media{
    z-index: 10;
    height: 80px;
    width: 80px;
}
.social_media:hover{
    height: 100px;
    width: 100px;

}